!!!
%html
  %head
    %title Starbox
    = favicon_link_tag
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    = javascript_include_tag 'application'
  %body
    .container
      .masthead
        %ul.nav.nav-pills.pull-right
          %li
            = link_to('Beverage Menu', root_url)
          %li
            = link_to('Inventory', ingredients_url)
          %li
            = link_to('Help', root_url)
        %h2.muted StarBox
      %hr
      .alerts
        = render :partial => 'shared/flashes'
      .jumbotron
        = yield
      %hr
      .footer
        %p Copyright, StarBox Inc., 2013
